{% load static %}
<!-------------- Footer -------------->
<footer>
    <div class="container">
        <div class="box">
            <h3>About us</h3>
            <p>It was popularised in the 1960 with the release of Latest sheets containing Lorem Ipsum
                passage.</p>
        </div>
        <div class="box">
            <h3>Quik Links</h3>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                 <li>
                    <a href="#">Contact us</a>
                </li>

            </ul>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
            <div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="{% static '/icons/facebook.svg' %}" alt="">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static '/icons/twitter.svg' %}" alt="">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static '/icons/google.svg' %}" alt="">
                            <span>Google +</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static '/icons/instagram.svg' %}" alt="">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div>
        Copyright © 2021 .All rights reserved by <a href=" ">Vineet Pandey</a>.
    </div>
</footer>
</div>
</div>
</div>
<!---------- Footer End -------------->
<div id="toTop" class="visible"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>

</html>



