{% include 'core/header.html' %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container text-center pb-5 pt-5 ">
        <!-- row -->
        <div class="row">
            <div class="col">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">User Change Password</h3>
                    </div>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div style="color: #d43f3a; font-size: medium">
                    {{ message|safe }}
                </div>
                {% endfor %}
                {% endif %}


                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% endfor %}

                    <button type="submit" class="btn btn-outline-success btn-block">
                        <i class="fa fa-check-circle-o"></i>
                        Save Changes
                    </button>
                </form>

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% include 'core/footer.html' %}